.chatListContainer {
    width: 100%;
    height: calc(100vh - 91px);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chatListContainer::-webkit-scrollbar {
    display: none;
}

.messageTab {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.messageTab:hover {
    background-color: #e4fce1;
    cursor: pointer;
}

.messageTabActive {
    background-color: #c0f7b7;
}

.selectedMessageTab {
    background-color: #90fd80;
}

.selectedMessageTab:hover {
    background-color: #90fd80;
}

.messageTabName {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.noChat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}