.chatInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #3FA2F6;
    border-radius: 0.75rem;
    width: 95%;
    position: absolute;
    bottom: 3rem;
    margin: 0 2rem;
    background-color: white;
}

.chatInput {
    width: 100%;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    outline: none;
    border: none;
}

.chatButton {
    padding: 0.625rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    background: none;
}